# Ignore IDE junk.
/.idea/*
/.vscode/*

# Ignore everything that isn't the project.
/*

# Un-ignore everything to do with the project.
!/required files
!/src/bin.sylveon*
!/src/mandl*
!/src/zeroxfc
!/POST_BUILD_INSTALLATION_v1.11.txt
!/README.md
!/USAGE.txt
!/GitHub ModePile Banner-Final.png
!/LICENCE
!/CONTRIBUTING.md
!/build.bat
!/build.sh
!/Dockerfile
!/.github/*
